<form method="post" action="">
  <label for="name">Title:</label>
  <input type="text" name="name">

  <label for="slug">Slug:</label>
  <input type="text" name="slug">

  <label for="writer">Writer:</label>
  <input type="text" name="writer">

  <label for="weekday">Weekday (0-6):</label>
  <input type="text" name="weekday">

  <button type="submit">Create</button>
</form>
