<form method="post" action="">
  <label for="name">Title:</label>
  <input type="text" name="name"></input>

  <label for="slug">Slug:</label>
  <input type="text" name="slug"></input>

  <label for="writer">Writer:</label>
  <input type="text" name="writer"></input>

  <button type="submit">Create</button>
</form>
