<h2><%= category.name %></h2>
<% if (everyauth.loggedIn) { %>
  <small>
    <%- router.link('edit-category', 'edit', category) %>
  </small>
<% } %>
<ol>
  <% posts.forEach(function (post) { %>
    <li><%- router.link('post', post.title, {cat: category, post: post}) %></li>
  <% }) %>
</ol>
