<form method="post" action="">
  <label for="name">Title:</label>
  <input type="text" name="name" value="<%= category.name %>"></input>

  <label for="writer">Writer:</label>
  <input type="text" name="writer" value="<%= writer.name %>"></input>

  <button type="submit">Edit</button>
</form>
