<h2><%= category.name %></h2>
<% if (everyauth.loggedIn) { %>
  <small>
    <%- router.link('edit-category', 'edit', category) %>
  </small>
<% } %>
<ol>
  <%- partial('post-partial', posts) %>
</ol>
